h1{ 
    color: black;
    text-align: center;
    background-color: lightpink;
}
h3{

    text-align: left;
    color:blue;
    background-color:lightgoldenrodyellow;
}
p{
    background-color:lightpink;
}
